<% content_for(:title, "About — Pedro Moreira") %>
<% content_for(:description, "About Pedro Moreira.") %>

<article class="article">
  <header class="article-header">
    <h1>About</h1>
  </header>
</article>
