<footer>
  <p>
    <a href="https://github.com/pedrosmmoreira">GitHub</a>
    <a href="https://x.com/pedrosmmoreira">X</a>
    <a href="https://www.linkedin.com/in/pedrosmmoreira">LinkedIn</a>
  </p>
</footer>
