<header>
  <nav>
    <div class="site-identity">
      <%= link_to "Pedro Moreira", root_path, class: "site-name" %>
      <span class="site-tagline">Software developer, occasional writer.</span>
    </div>
  </nav>
</header>
