<header>
  <nav>
    <div class="site-identity">
      <%= link_to "Pedro Moreira", root_path, class: "site-name" %>
      <span class="site-tagline">Building reliable systems &amp; growing reliable teams</span>
    </div>
  </nav>
</header>
